:root {
    --branco-principal: white;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;  
    --fonte-principal: 'inter';
    --botao-efeito: #509cf8;

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("/assets/img/bmg.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container__caixa{
    margin: 0 6em;
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__botao {
    display: block;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em;
    transition: 500ms;
}
.container__botao:hover {
    background-color: var(--botao-efeito);
}
.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--branco-principal);
}
.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}
.container__image {
    margin: 1em 0 2em 0;
}
.secundario {
    margin: 0 10em;
    align-items: center;
}
.secundario__imagem {
    width: 80%;
}
.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    grid-column: span 3;
}
.informacao__titulo {
    color: var(--cinza-secundario);
    grid-column: span 3;
    
}
.container__descricao {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}
.botao_terceiro {
    text-align: center;
}
.informacao__titulo--telas {
    color: var(--cinza-secundario);
    grid-column: span 3;
    margin-bottom: 1em;
    padding-right: 1.5em;
    font-size: 16px;
    font-weight: 400;
}
.plataformas__titulo {
    font-size: 48px;
    color: var(--branco-principal);
    font-weight: 700;
    margin-bottom: 0.5em;
}
.plataformas__lista {
    display: flex;
    justify-content: center;
    list-style: none;
}
.plataformas {
    text-align: center;
}
.plataformas__listas {
    margin: 1.5em;
    font-size: 28px;
    font-weight: 700;
}
.plataformas__lista li:hover {
    padding-top: 0.06em;
    margin: 1.4em 1.47em;
    border: 1px solid var(--botao-efeito);
    border-radius: 5px;

}
.rodape {
    text-align: center;
    margin: 5em 3em;
}
.imagem__rodape {
    margin: 1em;
}
.lista__rodape {
    display: flex;
    justify-content: space-around;
}
.itens__rodape {
    list-style-type: none;
    margin-left: 1em;
}
.links__rodape {
    font-size: 16px;
    font-weight: 400;
    color: var(--branco-principal);
    text-decoration: none;
}
.itens__rodape a:hover {
    color: var(--botao-azul);
}
.rodape__informacao {
    margin: 1.2em 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-secundario);
}
